<span class="mobile btn-mobile-menu">
  <i class="icon icon-list btn-mobile-menu__icon"></i>
  <i class="icon icon-x-circle btn-mobile-close__icon hidden"></i>
</span>

<header class="panel-cover" style="background-image: url({{ site.baseurl }}{{ site.bkimage }})">
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">
        <a href="{{ site.baseurl }}/" title="link to home of {{ site.title }}">
          <img src="{{ site.baseurl }}{{ site.profilepic }}" class="user-image" alt="My Profile Photo">
          <h1 class="panel-cover__title panel-title">{{ site.title }}</h1>
        </a>
        <hr class="panel-cover__divider">
        <p class="panel-cover__description">Dr. rer. soc.</p>
        <p class="panel-cover__description">
                  <i class="fa fa-fw fa-map-marker"></i>Mannheim, DE</p>
        <hr class="panel-cover__divider panel-cover__divider--secondary">

        <div class="navigation-wrapper">

 <nav class="cover-navigation navigation--primary">
            <ul class="navigation">
              <li class="navigation__item"><a href="{{ site.baseurl }}/about" title="link to About"><i class="far fa-user"></i>&nbsp;About</a></li>
              </ul>
          </nav>
          
              <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation">
              <li class="navigation__item"><a href="{{ site.baseurl }}/projects" title="link to Research" class="panel-button projects-button"><i class="far fa-file-alt"></i>&nbsp;Research</a></li>
              </ul>
          </nav>
          
          <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation">
              <li class="navigation__item"><a href="{{ site.baseurl }}/teaching" title="link to Teaching" class="panel-button projects-button"><i class="fas fa-chalkboard-teacher"></i>&nbsp;Teaching</a></li>
              </ul>
          </nav>
          
              <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation">
              <li class="navigation__item"><a href="{{ site.baseurl }}/cv" title="link to CV"><i class="far fa-address-card"></i>&nbsp;CV</a></li>
            </ul>
          </nav>
           <p></p>
           
          <nav class="cover-navigation navigation--social">
            <ul class="navigation">

            {% if site.author.orcid_username %}
              <!-- ORCID -->
              <li class="navigation__item">
                <a href="https://orcid.org/{{ site.author.orcid_username }}" title="{{ ite.author.orcid_username }} ORCID" target="_blank">
                  <!--<i class="icon fa-orcid"></i>-->
                  <i class="fab fa-orcid"></i>
                  <span class="label">ORCID</span>
                </a>
              </li>
            {% endif %}

{% if site.author.googlescholar_username %}
              <!-- Google Scholar -->
              <li class="navigation__item">
                <a href="https://scholar.google.com/citations?user={{ site.author.googlescholar_username }}" title="{{ site.author.googlescholar_username }} on Google Scholar" target="_blank">
                  <!--<i class="icon fa-graduation-cap"></i>-->
                  <i class="fas fa-graduation-cap"></i>
                  <span class="label">Google Scholar</span>
                </a>
              </li>
            {% endif %}

{% if site.author.researchgate_username %}
              <!-- ResearchGate -->
              <li class="navigation__item">
                <a href="https://www.researchgate.net/profile/{{ site.author.researchgate_username }}" title="{{ site.author.researchgate_username }} on ResearchGate" target="_blank">
                  <!--<i class="icon fa-researchgate"></i>-->
                 <i class="fab fa-researchgate"></i>
                  <span class="label">ResearchGate</span>
                </a>
              </li>
            {% endif %}

{% if site.author.github_username %}
              <!-- GitHub -->
              <li class="navigation__item">
                <a href="https://www.github.com/{{ site.author.github_username }}" title="{{ site.author.github_username }} on GitHub" target="_blank">
                  <!--<i class="icon icon-social-github"></i>-->
                  <i class="fab fa-github fa-lg"></i>
                  <span class="label">GitHub</span>
                </a>
              </li>
            {% endif %}

{% if site.author.twitter_username %}
              <!-- Twitter -->
              <li class="navigation__item">
                <a href="http://twitter.com/{{ site.author.twitter_username }}" title="@{{ site.author.twitter_username }} on Twitter" target="_blank">
                  <!--<i class="icon icon-social-twitter"></i>-->
                  <i class="fab fa-twitter fa-lg"></i>
                  <span class="label">Twitter</span>
                </a>
              </li>
            {% endif %}

{% if site.author.email %}
              <!-- Email -->
              <li class="navigation__item">
                <a href="mailto:{{ site.author.email }}" title="Email {{ site.author.email }}" target="_blank">
                  <!--<i class="icon icon-mail"></i>-->
                  <i class="fas fa-envelope fa-lg"></i>
                  <span class="label">Email</span>
                </a>
              </li>
            {% endif %}

            </ul>
          </nav>

        </div>

      </div>

    </div>

    <div class="panel-cover--overlay"></div>
  </div>
</header>
